<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Lista de filmes</title>
    <link rel="stylesheet" href="static/css/estiloadicionar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <img class="logo" src="static/img/postalfilms.png"
         alt="Logo da empresa"/>
       <a href="/"><button class="palavras">HOME</button>
        </a>
        <a href= "/"><button class="palavras">Filmes em cartaz</button>
        </a>

        <a href="/"><button class="palavras">Listas</button>
        </a>

        <a href="/"><button class="palavras">Login ou Cadastro</button>
        </a>
</header>
    <h1 >Lista de filmes</h1>
    <form class="lala" action="/adicionar_filme" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br/><br/>

        <label for="genero">Gênero:</label>
        <input type="text" id="genero" name="genero"><br/><br/>

        <label for="ano">Ano:</label>
        <input type="number" id="ano" name="ano"><br/><br/>

        <button class="botao1" type="submit">Cadastrar filme</button>
    </form>
</body>
</html>
